{% extends 'shop/base.html' %}
{% block content %}
	<div class="row">
	{% for book in object_list %}
		<div class="col-md-4">
			<div class="card">
			  <div class="card-body">
			    <h4 class="card-title">{{book.title}}</h4>
			    <p class="card-text"><img src="/media/{{book.image}}" width="200px"></p>
			    <p>{{book.description}}</p>
			    <p class="text-info font-weight-bold">${{book.price | floatformat:2 }}</p>
			    <a class="btn btn-danger" href="{% url 'shop:insertCart' book.id %}">AddtoCard</a>
			  </div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}

